<template>
<div>
    <header class="app-header app-header-dark">
        <!-- .top-bar -->
        <div class="top-bar">
            <!-- .top-bar-brand -->
            <div class="top-bar-brand">
                <!-- toggle aside menu -->
                <button class="hamburger hamburger-squeeze mr-2" type="button" data-toggle="aside-menu" aria-label="toggle aside menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle aside menu -->
            </div><!-- /.top-bar-brand -->
            <!-- .top-bar-list -->
            <div class="top-bar-list">
                <!-- .top-bar-item -->
                <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
                    <!-- toggle menu -->
                    <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="toggle menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button> <!-- /toggle menu -->
                </div><!-- /.top-bar-item -->
                <!-- .top-bar-item -->
                <div class="top-bar-item top-bar-item-full">
                    <!-- .top-bar-search -->
                    <form class="top-bar-search">
                        <!-- .input-group -->
                        <div class="input-group input-group-search dropdown">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                            </div><input type="text" class="form-control" data-toggle="dropdown" aria-label="Search" placeholder="Search"> <!-- .dropdown-menu -->

                        </div><!-- /.input-group -->
                    </form><!-- /.top-bar-search -->
                </div><!-- /.top-bar-item -->
                <!-- .top-bar-item -->
                <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">

                    <!-- .btn-account -->
                    <div class="dropdown d-none d-md-flex">
                        <button class="btn-account" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="user-avatar user-avatar-md">
                            <img src="/assets/images/admin.jpg" alt=""></span> <span class="account-summary pr-lg-4 d-none d-lg-block"><span class="account-name">{{name}}</span> <span class="account-description">{{name}}</span></span></button> <!-- .dropdown-menu -->
                        <div class="dropdown-menu">
                            <div class="dropdown-arrow d-lg-none" x-arrow=""></div>
                            <div class="dropdown-arrow ml-3 d-none d-lg-block"></div>
                            <h6 class="dropdown-header d-none d-md-block d-lg-none"> {{name}} </h6>
                            <a class="dropdown-item" href="#"><span class="dropdown-icon oi oi-person"></span> Profile</a>
                            <a v-on:click="logout()" class="dropdown-item" href="#"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                        </div><!-- /.dropdown-menu -->
                    </div><!-- /.btn-account -->
                </div><!-- /.top-bar-item -->
            </div><!-- /.top-bar-list -->
        </div><!-- /.top-bar -->
    </header><!-- /.app-header -->

    <!-- .app-aside -->
    <aside class="app-aside app-aside-expand-md app-aside-light">
        <!-- .aside-content -->
        <div class="aside-content">
            <!-- .aside-header -->
            <header class="aside-header d-block d-md-none">
                <!-- .btn-account -->
                <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="user-avatar user-avatar-lg">
                    <img src="/assets/images/admin.jpg" alt=""></span> <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span>
                    <span class="account-summary"><span class="account-name">{{name}}</span> <span class="account-description">{{name}}</span></span></button> <!-- /.btn-account -->
                <!-- .dropdown-aside -->
                <div id="dropdown-aside" class="dropdown-aside collapse">
                    <!-- dropdown-items -->
                    <div class="pb-3">
                        <a  class="dropdown-item" href="#"><span class="dropdown-icon oi oi-person"></span> Profile</a>
                        <a class="dropdown-item" v-on:click="logout()" href="#"><span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="index.html#">Help Center</a>
                        <a class="dropdown-item" href="index.html#">Ask Forum</a> <a class="dropdown-item" href="index.html#">Keyboard Shortcuts</a>
                    </div><!-- /dropdown-items -->
                </div><!-- /.dropdown-aside -->
            </header><!-- /.aside-header -->
            <!-- .aside-menu -->
            <div class="aside-menu overflow-hidden">
                <!-- .stacked-menu -->
                <nav id="stacked-menu" class="stacked-menu">
                    <!-- .menu -->
                    <ul class="menu">
                        <!-- .menu-item -->
                        <li  :class="{ 'menu-item has-active ': $route.path == '/home' }">
                            <router-link to="/home"  href="#" class="menu-link"><span class="menu-icon fas fa-home"></span> <span class="menu-text">Dashboard</span></router-link>
                        </li><!-- /.menu-item -->
                        <li :class="{ 'menu-item has-active ': $route.path == '/category' }" v-if="role==='admin'">
                            <router-link to="/category" href="#" class="menu-link"><span class="menu-icon fas fa-route"></span> <span class="menu-text">Categories</span></router-link>
                        </li><!-- /.menu-item -->
                        <li :class="{ 'menu-item has-active ': $route.path == '/products' }" v-if="role==='admin'">
                            <router-link to="/products" href="#" class="menu-link"><span class="menu-icon fas fa-shopping-cart"></span> <span class="menu-text">Products</span></router-link>
                        </li><!-- /.menu-item -->
                        <li :class="{ 'menu-item has-active ': $route.path == '/invoices/non-disbursed' }" >
                            <router-link to="/invoices/non-disbursed" href="#" class="menu-link"><span class="menu-icon fas fa-print"></span> <span class="menu-text">Invoices</span></router-link>
                        </li><!-- /.menu-item -->
                        <li :class="{ 'menu-item has-active ': $route.path == '/clients' }" v-if="role==='admin'">
                            <router-link to="/clients" href="#" class="menu-link"><span class="menu-icon fas fa-user"></span> <span class="menu-text">Clients</span></router-link>
                        </li><!-- /.menu-item -->
                        <li :class="{ 'menu-item has-active ': $route.path == '/users' }" v-if="role==='admin'">
                            <router-link to="/users" href="#" class="menu-link"><span class="menu-icon fas fa-users"></span> <span class="menu-text">Users</span></router-link>
                        </li><!-- /.menu-item -->
                        <li :class="{ 'menu-item has-active ': $route.path == '/logs/mpesa' }" v-if="role==='admin'">
                            <router-link to="/logs/mpesa" href="#" class="menu-link"><span class="menu-icon fas fa-file-pdf"></span> <span class="menu-text">Report</span></router-link>
                        </li><!-- /.menu-item -->
                         <li :class="{ 'menu-item has-active ': $route.path == '/logs/error' }" v-if="role==='admin'">
                            <router-link to="/logs/error" href="#" class="menu-link"><span class="menu-icon fas fa-exclamation-triangle"></span> <span class="menu-text">Error logs</span></router-link>
                        </li><!-- /.menu-item -->
                         <li :class="{ 'menu-item has-active ': $route.path == '/logs/support' }" v-if="role==='admin'">
                            <router-link to="/logs/support" href="#" class="menu-link"><span class="menu-icon fas fa-question-circle"></span> <span class="menu-text">Support</span></router-link>
                        </li><!-- /.menu-item -->
                         <li :class="{ 'menu-item has-active ': $route.path == '/logs/visitors' }" v-if="role==='admin'">
                            <router-link to="/logs/visitors" href="#" class="menu-link"><span class="menu-icon fas fa-users"></span> <span class="menu-text">Visitors</span></router-link>
                        </li><!-- /.menu-item -->

                        <li class="menu-item ">
                            <router-link to="/password" href="#" class="menu-link"><span class="menu-icon fas fa-key"></span> <span class="menu-text">Password</span></router-link>
                        </li><!-- /.menu-item -->
                        <li class="menu-item ">
                            <a v-on:click="logout()" href="#" class="menu-link"><span class="menu-icon fas fa-arrow-right"></span> <span class="menu-text">Logout</span></a>
                        </li><!-- /.menu-item -->
                        <!-- .menu-item -->

                    </ul><!-- /.menu -->
                </nav><!-- /.stacked-menu -->
            </div><!-- /.aside-menu -->

        </div><!-- /.aside-content -->
    </aside><!-- /.app-aside -->
    <!-- .app-main -->
    <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
            <!-- .page -->
            <div class="page">
                <!-- .page-inner -->
                <div class="page-inner">
                    <!-- .page-title-bar -->

                    <router-view></router-view>
                    </div>
                    </div>
                    </div>

    </main>


</div>
</template>
<script>
export default {
    data() {
        return {
            name:'',
            auth:'',
            role:'',
        }
    },
    created(){
        // this.ClearSession();
        this.name=localStorage.getItem('name');
        this.auth=localStorage.getItem('auth');
         this.role=localStorage.getItem('role');
    },
    watch:{
        '$route' (to, from) {
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
             this.role=localStorage.getItem('role');
        }
    },
    methods: {
        ClearSession(){
            $(document).ready(function() {
                if ($.cookie('pop') == null) {
                    localStorage.removeItem('token');
                    localStorage.removeItem('auth');
                    $.cookie('pop', '1');
                }
            });
        },
        logout() {
            localStorage.removeItem('token');
            localStorage.removeItem('auth');
            this.$router.push({name: 'login'});

        },
    }
}
</script>
