<template>
    <div>
        <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
               <h6 class="float-left">CATEGORIES</h6>
                    <button class="btn btn-primary float-right" v-on:click="showAddModal()">Add category</button>
            </div><!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                     <th>Created Date</th>
                      <th>Updated date</th>
                    <th>Edit</th>
                    </thead>
                    <tbody>
                    <tr v-for="(data,index) in cat" :key="data.id">
                        <td>{{index+1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.description}}</td>
                        <td>{{formatDate(data.created_at)}}</td>
                        <td>{{formatDate(data.updated_at)}}</td>
                        <td><a href="#" class="fa fa-edit" v-on:click="showEditModal(data.id,data.name,data.description,data.url)"></a></td>
                    </tr>

                    </tbody>
                </table>
            </div>
            </div>


        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> Add category </h5>
                    </div><!-- /.modal-header -->
                    <!-- .modal-body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tf1">Name</label>
                            <input type="text" v-model="message.name" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf3">Upload image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="tf3" v-on:change="onImageChange"> <label class="custom-file-label" for="tf3">Choose file</label>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf6">Descriptions</label>
                            <textarea class="form-control" v-model="message.description" id="tf6" rows="3"></textarea>
                        </div><!-- /.form-group -->
                    </div><!-- /.modal-body -->
                    <!-- .modal-footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="addCategory()">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> Edit category </h5>
                    </div><!-- /.modal-header -->
                    <!-- .modal-body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tf1">Name</label>
                            <input type="text" v-model="message.name" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf3">Upload image(Optional)</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="tf3" v-on:change="onImageChange"> <label class="custom-file-label" for="tf3">Choose file</label>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf6">Descriptions</label>
                            <textarea class="form-control" v-model="message.description" id="tf6" rows="3"></textarea>
                        </div><!-- /.form-group -->

                       <div class="row">
                           <div class="col-sm-12">
                                <img :src="proxyUrl+'storage/Category/'+message.url" class="rounded mx-auto d-block" alt="...">
                           </div>
                       </div>
                    </div><!-- /.modal-body -->
                    <!-- .modal-footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="editCategory()">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>
<script>
import moment from 'moment'
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',name:'',description:'',pic:'',url:''},
            cat:[],
            formData : new FormData(),
        }
    },
    created(){
        this.getCategories();

    },

    methods: {
        onImageChange(e){
            this.message.pic = e.target.files[0];
        },
        showAddModal(){
            this.formData=new FormData();
           $('#add').modal('show');
        },
        showEditModal(id,name,description,url){
            this.formData=new FormData();
            this.message.id=id;
            this.message.name=name;
            this.message.description=description;
             this.message.url=url;
            $('#edit').modal('show');
        },
        editCategory(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            this.formData.append('pic', this.message.pic);
            this.formData.append('id', this.message.id);
            this.formData.append('name', this.message.name);
            this.formData.append('description', this.message.description);
            let uri =this.proxyUrl+`api/auth/editCategory`;
            this.axios.post(uri,this.formData, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={id:'',name:'',description:''}
                    this.getCategories();
                    $('#edit').modal('hide');
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        addCategory(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            this.formData.append('pic', this.message.pic);
            this.formData.append('id', this.message.id);
            this.formData.append('name', this.message.name);
            this.formData.append('description', this.message.description);
            let uri =this.proxyUrl+`api/auth/addCategory`;
            this.axios.post(uri,this.formData, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={id:'',name:'',description:''}
                    this.getCategories();
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
         formatDate(value){
        return moment(String(value)).format('MM-DD-YYYY hh:mm:ss')
        },
        getCategories(){
            let uri =this.proxyUrl+`api/auth/getCategories`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.cat=response.data.cat;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        }

    }
}
</script>
