<template>
    <div>
        <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
                <h6 class="float-left">ERROR LOGS</h6>
                <div class="form-group float-right d-flex">
                    <download-excel :data="pageOfItems">
                        <a class="btn btn-primary rounded-0 text-white fas fa-file-pdf mr-2"></a>
                    </download-excel>
                    <input type="text"  id="inputPassword" v-model="message.filterval"  v-on:keyup="filter()"  class="form-control mr-2" placeholder="Search...">
                </div><!-- /.form-group -->

            </div><!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Delete</th>
                    </thead>
                    <tbody>
                    <tr v-for="(data,index) in pageOfItems" :key="data.id">
                        <td>{{index+1}}</td>
                        <td>{{data.email}}</td>
                        <td> {{data.phone}}</td>
                        <td>{{data.message.substring(0,60)+".."}}<a v-on:click="showEditModal(data.message,data.id)" href="#">View more</a></td>
                         <td>{{formatDate(data.created_at)}}</td>
                        <td><a href="#" class="fa fa-trash" v-on:click="showEditModal(data.message,data.id)"></a></td>
                    </tr>

                    </tbody>
                </table>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="users"  @changePage="onChangePage" ></jw-pagination>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> Error logs </h5>
                    </div><!-- /.modal-header -->
                    <!-- .modal-body -->
                    <div class="modal-body">
                        <p>{{message.message}}</p>
                        
                    </div><!-- /.modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="editUser()">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>
<script>
import moment from 'moment'
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',message:''},
            cats:[],
            users:[],
            users2:[],
            pageOfItems:[],
        }
    },
    created(){
        this.getusers();
    },

    methods: {
        clip(text, length){
          return this.strLimit(text, length);
         },
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        onImageChange(e){
            this.message.pic = e.target.files[0];
        },
        showEditModal(message,id){
            this.message.message=message;
            this.message.id=id;;
            $('#edit').modal('show');
        },
        editUser(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/deleteError/${this.message.id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getusers();
                    $('#edit').modal('hide');
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!.', type: 'error', position: 'top'});
                }
            });
        },

        getusers(){
            let uri =this.proxyUrl+`api/auth/getErrors`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.users=response.data.errors;
                this.users2=response.data.errors;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        formatDate(value){
        return moment(String(value)).format('MM-DD-YYYY hh:mm:ss')
        },
        
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.message.toLowerCase().includes(filterval.toLowerCase()) || product.email.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },

    }
}
</script>
