<template>
    <div>
        <main class="auth">
            <header id="auth-header" class="auth-header" style="background-image: url(/assets/images/illustration/img-1.png);">
                <h1>
                    Forget password
                </h1>
                <p>  <router-link to="/login" href="#">Login</router-link></p>
            </header><!-- form -->
            <form class="auth-form" v-on:submit.prevent="login()">
                <!-- .form-group -->
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="inputUser" v-model="message.email" class="form-control" placeholder="Email" autofocus=""> <label for="inputUser">Email</label>
                    </div>
                </div><!-- /.form-group -->

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Set password</button>
                </div><!-- /.form-group -->

                <!-- recovery links -->

            </form><!-- /.auth-form -->
            <!-- copyright -->

        </main><!-- /.auth -->
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
        }
    },
    created() {


    },
    methods: {
        login() {
            $('.auth-form').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/forget`;
            this.axios.post(uri, this.message).then((response) => {
                $('.auth-form').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.$router.push({name: 'login'});
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.auth-form').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });

        },

    }
}
</script>
