<template>
    <div>
        <header class="page-title-bar">
            <div class="d-flex flex-column flex-md-row">
                <p class="lead">
                    <span class="font-weight-bold">Hi, {{name}}.</span> <span class="d-block text-muted">Welcome.</span>
                </p>
            </div>
        </header><!-- /.page-title-bar -->


        <div class="main-section">
            <div class="dashbord">
                <div class="icon-section">
                    <i class="fa fa-address-card" aria-hidden="true"></i><br>
                    <small>Card-Paypal</small>
                    <p>$ {{formatPrice(dash.card)}}</p>
                </div>
                <div class="detail-section">
                    <router-link to="/logs/paypal" href="#">More Info </router-link>
                </div>
            </div>
            <div class="dashbord dashbord-green">
                <div class="icon-section">
                    <i class="fa fa-dollar-sign" aria-hidden="true"></i><br>
                    <small>M-Pesa</small>
                    <p>Ksh. {{formatPrice(dash.mpesa)}}</p>
                </div>
                <div class="detail-section">
                    <router-link to="/logs/mpesa" href="#">More Info </router-link>
                </div>
            </div>
            <div class="dashbord dashbord-orange">
                <div class="icon-section">
                    <i class="fa fa-users" aria-hidden="true"></i><br>
                    <small>Clients</small>
                    <p>{{dash.clients}}</p>
                </div>
                <div class="detail-section">
                    <router-link to="/clients" href="#">More Info </router-link>
                </div>
            </div>
            <div class="dashbord dashbord-blue">
                <div class="icon-section">
                    <i class="fa fa-tasks" aria-hidden="true"></i><br>
                    <small>Invoices Non-Disbursed</small>
                    <p>{{dash.undisbursed}}</p>
                </div>
                <div class="detail-section">
                    <router-link to="/invoices/non-disbursed" href="#">More Info </router-link>
                </div>
            </div>
            <div class="dashbord dashbord-skyblue">
                <div class="icon-section">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
                    <small>Invoices Disbursed</small>
                    <p>{{dash.disbursed}}</p>
                </div>
                <div class="detail-section">
                    <router-link to="/invoices/disbursed" href="#">More Info </router-link>
                </div>
            </div>
            <div class="dashbord dashbord-red">
                <div class="icon-section">
                    <i class="fa fa-comments" aria-hidden="true"></i><br>
                    <small>Unpaid Invoices</small>
                    <p>{{dash.pending}}</p>
                </div>
                <div class="detail-section">
                    <router-link to="/invoices/unpaid" href="#">More Info </router-link>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            name:'',
            auth:'',
            dash:{},
        }
    },
    created(){
        // this.ClearSession();
        this.name=localStorage.getItem('name');
        this.auth=localStorage.getItem('auth');
        this.dashboard();
    },

    methods: {
        dashboard(){
            let uri =this.proxyUrl+`api/auth/dashboard`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.dash=response.data;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },

    }
}
</script>
