<template>
    <div>
        <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
                <div class="float-left">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <router-link to="/invoices/non-disbursed" class="nav-link " id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">Invoice Non-Disbursd</router-link>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">Invoice Disbursed</a>
                        </li>
                        <li class="nav-item">
                            <router-link to="/invoices/unpaid" class="nav-link" id="contact-tab" data-toggle="tab" href="#" role="tab" aria-controls="contact" aria-selected="false">Unpaid Invoice</router-link>
                        </li>
                    </ul>
                </div>
                <div class="form-group float-right d-flex">
                    <download-excel :data="pageOfItems">
                        <a class="btn btn-primary rounded-0 text-white fas fa-file-pdf mr-2"></a>
                    </download-excel>
                    <input type="text"  id="inputPassword" v-model="message.filterval"  v-on:keyup="filter()"  class="form-control mr-2" placeholder="Search...">
                </div><!-- /.form-group -->

            </div><!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Invoice</th>
                    <th>Price</th>
                    <th>Products</th>
                    <th>Product Name</th>
                    <th>Disbursement</th>
                    <th>Payment</th>
                    <th>Ref</th>
                    <th>Buyer</th>
                    <th>Disburse</th>
                    </thead>
                    <tbody>
                    <tr v-for="(data,index) in pageOfItems" :key="data.id">
                        <td>{{index+1}}</td>
                        <td>{{data.invoice_no}}</td>
                        <td>$.{{formatPrice(data.price)}}</td>
                        <td>{{data.count}}</td>
                        <td><router-link :to="{name:'invoice',params:{id:data.id}}">{{data.product_name}}</router-link></td>
                        <td v-if="data.disbursement==='PENDING'" class="text-danger">{{data.disbursement}}</td>
                        <td v-else class="text-success">{{data.disbursement}}</td>
                        <td>{{data.payment_method}}</td>
                        <td>{{data.payment_id}}</td>
                        <td>{{data.buyer}}</td>
                        <td><a href="#" class="fa fa-share" v-on:click="showEditModal(data.id,data.buyer,data.buyer_name,data.license)"></a></td>
                    </tr>

                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="invoices"  @changePage="onChangePage"></jw-pagination>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> License </h5>
                    </div><!-- /.modal-header -->
                    <!-- .modal-body -->
                    <div class="modal-body">
                        <p>You are about to disburse license to <strong>{{message.email}}</strong></p>
                        <br>
                        <div class="form-group">
                            <label for="tf6">Enter license to disburse</label>
                            <textarea class="form-control" v-model="message.license" id="tf6" rows="3"></textarea>
                        </div><!-- /.form-group -->

                    </div><!-- /.modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="disburseLicense()">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>
<script>
export default {
    data() {
        return {

            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',email:'',buyer_name:'',license:''},
            invoices:[],
            invoices2:[],
            pageOfItems:[],
        }
    },
    created(){
        this.getDisbursed();
    },

    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },

        showEditModal(id,email,buyer_name,license){
            this.message.email=email;
            this.message.buyer_name=buyer_name;
            this.message.id=id;
            this.message.license=license;
            $('#edit').modal('show');
        },
        disburseLicense(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/redisburseLicense`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getDisbursed();
                    $('#edit').modal('hide');
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!Please check the image uploaded or price format.', type: 'error', position: 'top'});
                }
            });
        },

        getDisbursed(){
            let uri =this.proxyUrl+`api/auth/getDisbursed`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.invoices=response.data.invoices;
                this.invoices2=response.data.invoices;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.invoices=this.invoices2;
            }else{
                let ads =  this.invoices2.filter(function(product) {
                    return product.invoice_no.toLowerCase().includes(filterval.toLowerCase()) || product.buyer.toLowerCase().includes(filterval.toLowerCase()) || product.product_name.toLowerCase().includes(filterval.toLowerCase())
                });
                this.invoices=ads;
            }
        },

    }
}
</script>
