<template>
<div>
    <main class="auth">
        <header id="auth-header" class="auth-header" style="background-image: url(/assets/images/illustration/img-1.png);">
            <h1>
                 Sign in
            </h1>
            <p> Forgot password? <router-link to="/forget" href="#">Reset password</router-link></p>
        </header><!-- form -->
        <form class="auth-form" v-on:submit.prevent="login()">
            <!-- .form-group -->
            <div class="form-group">
                <div class="form-label-group">
                    <input type="email" id="inputUser" v-model="message.email" class="form-control" placeholder="Email" autofocus=""> <label for="inputUser">Email</label>
                </div>
            </div><!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group">
                <div class="form-label-group">
                    <input type="password" v-model="message.password" id="inputPassword" class="form-control" placeholder="Password"> <label for="inputPassword">Password</label>
                </div>
            </div><!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
            </div><!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group text-center">
                <div class="custom-control custom-control-inline custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="remember-me"> <label class="custom-control-label" for="remember-me">Keep me sign in</label>
                </div>
            </div><!-- /.form-group -->
            <!-- recovery links -->

        </form><!-- /.auth-form -->
        <!-- copyright -->

    </main><!-- /.auth -->
</div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
        }
    },
    created() {


    },
    methods: {
        login(){
            $('.auth-form').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/login`;
            this.axios.post(uri, this.message).then((response) => {
                $('.auth-form').loader('hide');
                if(response.data.status){
                    if(response.data.user.status==='ACTIVE') {
                        if (response.data.user.user_type === 'admin') {
                            localStorage.setItem('token', response.data.access_token);
                            localStorage.setItem('name', response.data.user.name);
                            localStorage.setItem('role', response.data.user.role);
                            localStorage.setItem('auth', 'yes');
                            if(response.data.user.password_changed==='NO'){
                                this.$router.push({name: 'password'});
                                this.$toast.open({message: 'Please update your current password', type: 'success', position: 'top'});
                            }else {
                                this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                                this.$router.push({name: 'home'});
                            }

                        } else {
                            this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                    }
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.auth-form').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });
        },

    }
}
</script>
