<template>
    <div>
        <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
                <div class="float-left">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#" role="tab" aria-controls="home" aria-selected="true">M-pesa </a>
                        </li>
                        <li class="nav-item">
                            <router-link to="/logs/paypal" class="nav-link" id="profile-tab" data-toggle="tab" href="#" role="tab" aria-controls="profile" aria-selected="false">Paypal/Card </router-link>
                        </li>
                    </ul>
                </div>
                <div class="form-group float-right d-flex">
                    <download-excel :data="pageOfItems">
                        <a class="btn btn-primary rounded-0 text-white fas fa-file-pdf mr-2"></a>
                    </download-excel>
                    <input type="text"  id="inputPassword" v-model="message.filterval"  v-on:keyup="filter()"  class="form-control mr-2" placeholder="Search...">
                </div><!-- /.form-group -->

            </div><!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Invoice</th>
                    <th>Amount</th>
                    <th>Mpesa ref</th>
                    <th>Account</th>
                    <th>Phone</th>
                    <th>Payment</th>
                    <th>System ref</th>
                    <th>Buyer</th>
                    <th>Date</th>
                    </thead>
                    <tbody>
                    <tr v-for="(data,index) in pageOfItems">
                        <td>{{index+1}}</td>
                        <td>{{data.invoice_no}}</td>
                        <td>$.{{formatPrice(data.amount)}}</td>
                        <td>{{data.mpesa_ref}}</td>
                        <td>{{data.account}}</td>
                        <td>{{data.phone}}</td>
                        <td>{{data.payment_method}}</td>
                        <td>{{data.system_ref}}</td>
                        <td>{{data.buyer_name}}</td>
                        <td>{{data.updated_at}}</td>
                    </tr>

                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="logs"  @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                    </div>
                </div>
            </div>
        </div>



    </div>
</template>
<script>
export default {
    data() {
        return {

            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',email:'',buyer_name:''},
            logs:[],
            logs2:[],
            pageOfItems:[],
        }
    },
    created(){
        this.mpsalogs();
    },

    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },

        mpsalogs(){
            let uri =this.proxyUrl+`api/auth/mpsalogs`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.logs=response.data.logs;
                this.logs2=response.data.logs;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.logs=this.logs2;
            }else{
                let ads =  this.logs2.filter(function(product) {
                    return product.invoice_no.toLowerCase().includes(filterval.toLowerCase()) || product.buyer_name.toLowerCase().includes(filterval.toLowerCase()) || product.phone.toLowerCase().includes(filterval.toLowerCase()) || product.mpesa_ref.toLowerCase().includes(filterval.toLowerCase()) || product.updated_at.toLowerCase().includes(filterval.toLowerCase())
                });
                this.logs=ads;
            }
        },

    }
}
</script>
