<template>
    <div>
        <main class="auth">
            <header id="auth-header" class="auth-header" style="background-image: url(/assets/images/illustration/img-1.png);">
                <h1>
                   Change current password
                </h1>
                <p class="text-warning"> Change current password to proceed</p>
            </header><!-- form -->
            <form class="auth-form" v-on:submit.prevent="login()">
                <!-- .form-group -->
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="inputUser" v-model="message.currentpass" class="form-control" placeholder="Current password" required>
                        <label for="inputUser">Current password</label>
                    </div>
                </div><!-- /.form-group -->
                <!-- .form-group -->
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" v-model="message.password" id="inputPassword" class="form-control" placeholder="New Password" required>
                        <label for="inputPassword">New password</label>
                    </div>
                </div><!-- /.form-group -->
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" v-model="message.repass" id="inputPassword" class="form-control" placeholder="Confirm Password" required>
                        <label for="inputPassword">Confirm password</label>
                    </div>
                </div><!-- /.form-group -->
                <!-- .form-group -->
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update password</button>
                </div><!-- /.form-group -->
                <!-- .form-group -->

                <!-- recovery links -->

            </form><!-- /.auth-form -->
            <!-- copyright -->

        </main><!-- /.auth -->
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
        }
    },
    created() {


    },
    methods: {
        login(){
            $('.auth-form').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/password`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.auth-form').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.$router.push({name: 'home'});
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }
            }).catch(error => {
                $('.auth-form').loader('hide');
                localStorage.removeItem('token');
                this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
            });
        },

    }
}
</script>
