<template>
    <div>
        <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
                <h6 class="float-left">PRODUCTS</h6>
                <div class="form-group float-right d-flex">
                    <download-excel :data="pageOfItems">
                        <a class="btn btn-primary rounded-0 text-white fas fa-file-pdf mr-2"></a>
                    </download-excel>
                        <input type="text"  id="inputPassword" v-model="message.filterval"  v-on:keyup="filter()"  class="form-control mr-2" placeholder="Search...">
                        <button class="btn btn-primary " v-on:click="showAddModal()">Sell product</button>
                </div><!-- /.form-group -->

            </div><!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Status</th>
                    <th>Created Date</th>
                      <th>Updated date</th>
                    <th>Edit</th>
                    <th>Remove</th>
                    </thead>
                    <tbody>
                    <tr v-for="(data,index) in pageOfItems" :key="data.id">
                        <td>{{index+1}}</td>
                        <td>{{data.name}}</td>
                        <td>$ {{formatPrice(data.price)}}</td>
                        <td>{{data.category}}</td>
                        <td v-if="data.status==='ACTIVE'" class="text-success">{{data.status}}</td>
                        <td v-else class="text-danger">{{data.status}}</td>
                         <td>{{formatDate(data.created_at)}}</td>
                        <td>{{formatDate(data.updated_at)}}</td>
                        <td><a href="#" class="fa fa-edit" v-on:click="showEditModal(data.id,data.name,data.description,data.price,data.category_id,data.url)"></a></td>
                        <td><a href="#" class="fa fa-trash text-danger" v-on:click="showDelModal(data.id)"></a></td>
                    </tr>

                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="products"  @changePage="onChangePage" ></jw-pagination>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> Add Product </h5>
                    </div><!-- /.modal-header -->
                    <!-- .modal-body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tf1">Name</label>
                            <input type="text" v-model="message.name" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf1">Price $</label>
                            <input type="text" v-model="message.price" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf3">Upload image</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="tf3" v-on:change="onImageChange"> <label class="custom-file-label" for="tf3">Choose file</label>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf3">Category</label>
                            <select class="custom-select" v-model="message.category_id" id="sel1" required="">
                                <option value="" selected disabled> Choose... </option>
                                <option v-for="data in cats" :key="data.id" v-bind:value="data.id">{{data.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tf6">Descriptions</label>
                            <textarea class="form-control" v-model="message.description" id="tf6" rows="3"></textarea>
                        </div><!-- /.form-group -->
                    </div><!-- /.modal-body -->
                    <!-- .modal-footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="addProduct()">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> Edit Product </h5>
                    </div><!-- /.modal-header -->
                    <!-- .modal-body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tf1">Name</label>
                            <input type="text" v-model="message.name" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf1">Price $</label>
                            <input type="text" v-model="message.price" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf3">Upload image(Optional)</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="tf3" v-on:change="onImageChange"> <label class="custom-file-label" for="tf3">Choose file</label>
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf3">Category</label>
                            <select class="custom-select" v-model="message.category_id" id="sel1" required="">
                                <option value="" selected disabled> Choose... </option>
                                <option v-for="data in cats" :key="data.id" v-bind:value="data.id">{{data.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tf6">Descriptions</label>
                            <textarea class="form-control" v-model="message.description" id="tf6" rows="3"></textarea>
                        </div><!-- /.form-group --><th>Description</th>

                        <div class="row">
                           <div class="col-sm-12">
                                <img :src="proxyUrl+'storage/Product/'+message.url" class="rounded mx-auto d-block" alt="...">
                           </div>
                       </div>
                    </div><!-- /.modal-body -->
                    <!-- .modal-footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="editProduct()">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> Delete product </h5>
                    </div>
                    <div class="modal-body">
                        <h4>Are you sure you want to Delete this product?</h4>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="deleteProduct()">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>
<script>
import moment from 'moment'
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',name:'',description:'',price:'',category_id:'',pic:'',url:''},
            cats:[],
            products:[],
            products2:[],
            pageOfItems:[],
            formData : new FormData(),
        }
    },
    created(){
        this.adminGetProducts();
        this.getCategories();
    },

    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        showDelModal(id){
            this.message.id=id;
          $('#delete').modal('show');
        },
        showAddModal(){
            this.formData=new FormData();
            $('#add').modal('show');
        },
        onImageChange(e){
            this.message.pic = e.target.files[0];
        },
        showEditModal(id,name,description,price,category_id,url){
            this.formData=new FormData();
            this.message.category_id=category_id;
            this.message.price=price;
            this.message.id=id;
            this.message.name=name;
            this.message.description=description;
            this.message.url=url;
            $('#edit').modal('show');
        },
        deleteProduct(){
          $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/deleteProduct/${this.message.id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.adminGetProducts();
                    $('#delete').modal('hide');
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        editProduct(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            this.formData.append('pic', this.message.pic);
            this.formData.append('id', this.message.id);
            this.formData.append('name', this.message.name);
            this.formData.append('price', this.message.price);
            this.formData.append('description', this.message.description);
            this.formData.append('category_id', this.message.category_id);
            let uri =this.proxyUrl+`api/auth/editProduct`;
            this.axios.post(uri,this.formData, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={id:'',name:'',description:'',price:'',category_id:'',pic:''},
                    this.adminGetProducts();
                    $('#edit').modal('hide');
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!Please check the image uploaded or price format.', type: 'error', position: 'top'});
                }
            });
        },
        addProduct(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            this.formData.append('pic', this.message.pic);
            this.formData.append('name', this.message.name);
            this.formData.append('price', this.message.price);
            this.formData.append('description', this.message.description);
            this.formData.append('category_id', this.message.category_id);
            let uri =this.proxyUrl+`api/auth/addProduct`;
            this.axios.post(uri,this.formData, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={id:'',name:'',description:''}
                    this.adminGetProducts();
                    this.formData=new FormData();
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!Please check the image uploaded or price format.', type: 'error', position: 'top'});
                }
            });
        },
        adminGetProducts(){
            let uri =this.proxyUrl+`api/auth/adminGetProducts`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.products=response.data.products;
                this.products2=response.data.products;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getCategories(){
            let uri =this.proxyUrl+`api/auth/getCategories`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.cats=response.data.cat;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
         formatDate(value){
        return moment(String(value)).format('MM-DD-YYYY hh:mm:ss')
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.products=this.products2;
            }else{
                let ads =  this.products2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.price.toLowerCase().includes(filterval.toLowerCase())
                });
                this.products=ads;
            }
        },

    }
}
</script>
