<template>
    <div>
        <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
                <h6 class="float-left">USERS</h6>
                <div class="form-group float-right d-flex">
                    <download-excel :data="pageOfItems">
                        <a class="btn btn-primary rounded-0 text-white fas fa-file-pdf mr-2"></a>
                    </download-excel>
                    <input type="text"  id="inputPassword" v-model="message.filterval"  v-on:keyup="filter()"  class="form-control mr-2" placeholder="Search...">
                    <button class="btn btn-primary " v-on:click="showAddModal()">Add</button>
                </div><!-- /.form-group -->

            </div><!-- /.card-header -->
            <!-- .card-body -->
            <div class="card-body">
                <table class="table">
                    <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Role</th>
                    <th>Status</th>
                     <th>Created at</th>
                     <th>Updated at</th>
                    <th>Edit</th>
                    <th>Re-invite</th>
                    </thead>
                    <tbody>
                    <tr v-for="(data,index) in pageOfItems" :key="data.id">
                        <td>{{index+1}}</td>
                        <td>{{data.name}}</td>
                        <td> {{data.email}}</td>
                        <td>{{data.phone}}</td>
                        <td>{{data.role}}</td>
                        <td v-if="data.status==='ACTIVE'" class="text-success">{{data.status}}</td>
                        <td v-else class="text-danger">{{data.status}}</td>
                        <td>{{formatDate(data.created_at)}}</td>
                        <td>{{formatDate(data.updated_at)}}</td>
                        <td><a href="#" class="fa fa-edit" v-on:click="showEditModal(data.id,data.name,data.email,data.phone,data.role,data.status)"></a></td>
                        <td><a href="#" class="fa fa-envelope text-warning" v-on:click="ReInvite(data.id)"></a></td>
                    </tr>

                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="users"  @changePage="onChangePage" :styles="customStyles"></jw-pagination>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> Add users </h5>
                    </div><!-- /.modal-header -->
                    <!-- .modal-body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tf1">Name</label>
                            <input type="text" v-model="message.name" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf1">Email</label>
                            <input type="text" v-model="message.email" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf1">Phone</label>
                            <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
                        </div>
                        <div class="form-group">
                            <label for="tf1">Specify role</label>
                            <select class="form-control" v-model="message.role"  required>
                                <option selected>admin</option>
                                <option>sales</option>
                            </select>
                        </div>

                    </div><!-- /.modal-body -->
                    <!-- .modal-footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="addUser()">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <!-- .modal-dialog -->
            <div class="modal-dialog" role="document">
                <!-- .modal-content -->
                <div class="modal-content">
                    <!-- .modal-header -->
                    <div class="modal-header">
                        <h5 id="exampleModalLabel" class="modal-title"> Edit User </h5>
                    </div><!-- /.modal-header -->
                    <!-- .modal-body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tf1">Name</label>
                            <input type="text" v-model="message.name" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf1">Email</label>
                            <input type="text" v-model="message.email" class="form-control" id="tf1" aria-describedby="tf1Help" required>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <label for="tf1">Phone</label>
                            <vue-tel-input v-model="message.phone" class="form-control" v-bind="bindProps"></vue-tel-input>
                        </div>
                        <div class="form-group">
                            <label for="tf1">Specify role</label>
                            <select class="form-control" v-model="message.role"  required>
                                <option>admin</option>
                                <option>sales</option>
                            </select>
                        </div>
                        <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="mr-3">Account Status</label>
                                        <label class="switch">
                                            <input type="checkbox" id="status">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                        </div>
                    </div><!-- /.modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="editUser()">Submit</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</template>
<script>
import moment from 'moment'
export default {
    data() {
        return {
            bindProps: {
                mode: "international",
                disabledFetchingCountry: false,
                disabled: false,
                disabledFormatting: false,
                placeholder: "Enter a phone number",
                required: true,
                enabledCountryCode: true,
                enabledFlags: true,
                maxLen: 25,
                wrapperClasses: "",
                inputClasses: "",
                dropdownOptions: {
                    disabledDialCode: false
                },
                inputOptions: {
                    showDialCode: true
                }
            },
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',name:'',email:'',phone:'',role:'',status:''},
            cats:[],
            users:[],
            users2:[],
            pageOfItems:[],
        }
    },
    created(){
        this.getusers();
    },

    methods: {
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        showAddModal(){
            this.formData=new FormData();
            $('#add').modal('show');
        },
        onImageChange(e){
            this.message.pic = e.target.files[0];
        },
        showEditModal(id,name,email,phone,role,status){
            this.message.email=email;
            this.message.phone=phone;
            this.message.id=id;
            this.message.name=name;
            this.message.role=role;
            this.message.status=status;
              if(this.message.status==='ACTIVE'){
                        $("#status").prop("checked", true);
                }
            $('#edit').modal('show');
        },
        editUser(){
            if(document.getElementById('status').checked){
                    this.message.status='ACTIVE'
            }else{
                    this.message.status='INACTIVE'
                }
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/editUser`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={id:'',name:'',email:'',phone:''},
                        this.getusers();
                    $('#edit').modal('hide');
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!Please check the image uploaded or price format.', type: 'error', position: 'top'});
                }
            });
        },
        addUser(){
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/addUser`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.message={id:'',name:'',email:'',phone:''}
                    this.getusers();
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!Please check the image uploaded or price format.', type: 'error', position: 'top'});
                }
            });
        },
        ReInvite(id){
             $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
         let uri =this.proxyUrl+`api/auth/reIvite/${id}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                 $('.card').loader('hide');
               if(response.data.status){
                this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
               }else{
                this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
               }
            }).catch(error => {
                 $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
        getusers(){
            let uri =this.proxyUrl+`api/auth/users`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.users=response.data.users;
                this.users2=response.data.users;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        formatDate(value){
        return moment(String(value)).format('MM-DD-YYYY hh:mm:ss')
        },
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.email.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },

    }
}
</script>
