<template>
    <div>
        <div class="card card-fluid">
            <!-- .card-header -->
            <div class="card-header">
                <h6 class="float-left">VISITORS--({{users.length}})</h6>
                <div class="form-group float-right d-flex">
                    <div class="d-flex mr-3">
                        <label class="">From </label>
                        <input class="form-control" v-model="message.date_from" type="date">
                    </div>
                    <div class="d-flex mr-3">
                        <label class="">To </label>
                        <input class="form-control" v-model="message.date_to" type="date" v-on:change="getIpByDate()">
                    </div>
                    <download-excel :data="pageOfItems">
                        <a class="btn btn-primary rounded-0 text-white fas fa-file-pdf mr-2"></a>
                    </download-excel>
                    <input type="text"  id="inputPassword" v-model="message.filterval"  v-on:keyup="filter()"  class="form-control mr-2" placeholder="Search...">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table">
                    <thead>
                    <th>#</th>
                     <th>IP address</th>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Long</th>
                    <th>Lat</th>
                    </thead>
                    <tbody>
                    <tr v-for="(data,index) in pageOfItems" :key="data.id">
                        <td>{{index+1}}</td>
                        <td>{{data.ip_address}}</td>
                        <td>{{data.date_time}}</td>
                        <td>{{formatDate(data.created_at)}}</td>
                        <td> {{data.long}}</td>
                       <td> {{data.lat}}</td>
                    </tr>

                    </tbody>
                </table>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <jw-pagination :items="users"  @changePage="onChangePage" ></jw-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import moment from 'moment'
export default {
    data() {
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{id:'',message:''},
            cats:[],
            users:[],
            users2:[],
            pageOfItems:[],
        }
    },
    created(){
        this.getTime();
    },

    methods: {
        clip(text, length){
          return this.strLimit(text, length);
         },
        onChangePage(pageOfItems) {
            this.pageOfItems = pageOfItems;
        },
        onImageChange(e){
            this.message.pic = e.target.files[0];
        },
        showEditModal(message,id){
            this.message.message=message;
            this.message.id=id;;
            $('#edit').modal('show');
        },
        editUser(){
            this.message.status='READ'
            $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/updateSupport/${this.message.id}`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.modal-content').loader('hide');
                if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getusers();
                    $('#edit').modal('hide');
                }else{
                    this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                }

            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!.', type: 'error', position: 'top'});
                }
            });
        },
        getIpByDate(){
         let uri =this.proxyUrl+`api/auth/getIpByDate`;
            this.axios.post(uri,this.message, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.users=response.data.ips;
                this.users2=response.data.ips;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

        getusers(){
            let uri =this.proxyUrl+`api/auth/getIpAddresses/${this.message.date_time}`;
            this.axios.get(uri, { headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.users=response.data.ips;
                this.users2=response.data.ips;
            }).catch(error => {
                $('.modal-content').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'Please sign in!', type: 'error', position: 'top'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },
         getTime(){
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                // var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date;
                this.message.date_time=dateTime;
                this.getusers();
          },

        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        formatDate(value){
        return moment(String(value)).format('MM-DD-YYYY hh:mm:ss')
        },
        
        filter(){
            let filterval=this.message.filterval;
            if(filterval==='' || filterval===null){
                this.users=this.users2;
            }else{
                let ads =  this.users2.filter(function(product) {
                    return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.email.toLowerCase().includes(filterval.toLowerCase())
                });
                this.users=ads;
            }
        },

    }
}
</script>
